*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar{
  width: 2px;
}

ul{
  list-style: none;
}
::-webkit-scrollbar-thumb{
  width: 2px;
  background: #019463;
}
#root{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
